<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PlaceDb" value="///" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MessageServiceSoap" />
        <binding name="MessageServiceSoapBinding">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpsBinding_IWorkflowService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ICrmService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IUrenService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.oosterberg.nl/messageservice/messageservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap"
        contract="Sales24.MessageServiceSoap" name="MessageServiceSoap" />
      <endpoint address="https://sys134w10.kraan.lokaal:1337/MessageServiceSoap.svc"
        binding="basicHttpBinding" bindingConfiguration="MessageServiceSoapBinding"
        contract="Sales31.MessageServiceSoap" name="MessageServiceSoap1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/WorkflowService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWorkflowService1"
        contract="WorkFlowWebservice.IWorkflowService" name="BasicHttpsBinding_IWorkflowService1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/CrmService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICrmService1"
        contract="CrmWebservice.ICrmService" name="BasicHttpsBinding_ICrmService1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/UrenService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUrenService1"
        contract="UrenWebservice.IUrenService" name="BasicHttpsBinding_IUrenService1" />
    </client>
  </system.serviceModel>
</configuration>